<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>members only</title>
</head>
<body>
  <h3><% title %></h3>
  <h5>To join as admin use secret key : ADMIN</h5>
  <h5>To join as user use secret key : INSIDER</h5>  

    <form action="" method="POST">
      <label for="secretKey">Secret Key</label>
      <input name="secretKey" placeholder="" type="text" />
      <button>Join Club</button>
    </form>
    
</body>
</html>