<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <%if (errors.length > 0) { %>

    <% errors.forEach(function(error){ %>
      <li><%= error %> </li>
    <% }) %>

  <% } %>

  <form action="" method="POST">
    <label for="firstName">First Name</label>
    <input name="firstName" placeholder="First Name" type="text" />
    <label for="lastName">Last Name</label>
    <input name="lastName" placeholder="Last Name" type="text" />
    <label for="email">email</label>
    <input name="email" placeholder="@gmail.com" type="email" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>